#leftbox { 
                float:left;  
                background:Red; 
                width:33%; 
                height:280px; 
            } 
#middlebox{ 
             float:left;  
             background:Green;
             width:33%; 
             height:280px; 
            } 
#rightbox{ 
             float:right; 
             background:blue; 
             width:33%; 
             height:280px; 
            } 
#middlevertical{
         float:middle;
         background:black;
         width : 33%;
         height : 560px;
}
#bottomvertical{
         float:bottom;
         background :purple;
         width : 33%;
         height : 840px;
}
